/* Header Styles */
header {

    display: flex;
    justify-content: space-between;
   background-color: black;
    margin: 30px auto;
    color: white; 
}

/* styling a element  */

header a {

    color: white; 
}
/* styling main section  */

main {

    background-color: black;
    color: white; 
    text-align: center; 

}

main button {

    box-shadow: 0 0 10px 2px;
    font-size: 25px; 

}
main button:hover{

    background: teal; 
}

footer {
    width: 80%;
    text-align: left;
    margin: 10px auto;
}
footer p {
    border-top: lightgray solid 1px;
    margin-top: 5px;
    font-size: 35px;
    color: gray;
}